:root {
  --theme-color: #0A2342;
  --accent-color: #2ECC71;
  --light-color: #ffffff;
}

.projects-section {
  padding: 0px 40px 20px 40px;
  text-align: center;

  max-width: 1000px;   /* limit width */
  margin: 0 auto;      /* center the section */
}


.projects-section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
  color: var(--theme-color);
}

.projects-section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--accent-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  text-align: left;
  cursor: pointer;
  overflow: hidden;
}

.image-container {
  overflow: hidden;
  border-radius: 12px;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

/* Hover effect: Image zooms in slightly */
.project-card:hover .image-container img {
  transform: scale(1.05);
}

.project-card h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.25rem;
  color: #0A2342;
  text-align: left;
}

/* Know More link */
.know-more {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #0A2342;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.know-more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #2ECC71;
  transition: width 0.3s ease;
}


/* When card is hovered → animate underline */
.project-card:hover .know-more::after {
  width: 100%;
}


.cta-container {
  margin-top: 3rem;
}

.cta-btn {
  border: 2px solid #0A2342;
  background: transparent;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #0A2342;
}

.cta-btn:hover {
  background: #0A2342;
  color: white;
}

/* Responsive */
@media (max-width: 767px) {
    .projects-section{
        padding-left: 40px;
        padding-right: 40px;
    }
  }